* {
    margin: 0; 
    
}


body { 
    
    background-image: url("images/fond.jpg");
    background-repeat:no-repeat;
    background-position: top center;
      
}
header img{
    display: block;
    max-width: 1920px;
    max-height: 136px;
    margin-left: auto;
    margin-right: auto
}
nav {
    padding-top: 20px;   
  }
  
nav ul {
    max-width: 1209px;
    max-height: 62px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    background-color: #007f71;
    box-shadow: 2px 2px 5px #1c1a19;
    border-radius: 5px;
  }
  
  nav li {
    margin: auto;
    text-shadow: 1px 1px 1px #de1f9b;
  }
  
  nav a {
    color: blue;
    text-decoration: none;  
  }
  
  nav a:hover {
    color: white;
    background-color: #706b64;
  }
  
section{
    background-color:#e4a660;
    max-width: 1056px;
    max-height: 135px; 
    margin-left: auto; 
    margin-right: auto;   
    margin-top: 40px; 
    color: white;
    box-shadow: 2px 2px 5px #1c1a19;
    border-radius: 5px;
}
 
section p{
    margin-left: 6px; 
    margin-right: auto; 
    margin-bottom: auto;
}
.imgtra,.imgter, .imgb {
    max-width: 333px;
    max-height: 114px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;  
    box-shadow: 2px 2px 5px #1c1a19;
    border-radius: 5px; 
}