* {
    margin: 0; 
    padding: 0;    
}
body {    
    background-image: url("images/fond.jpg");
    background-repeat:no-repeat;
    background-position: top center;     
}
@media screen and (max-width: 1900px) and (min-width: 1200px){
    header img{
        display: block;
        width: 1200px;
        height: 84px;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 5px;
    }
    .banphone{
        display: none;
    }
    .menuphone{
        display: none;
    }
    nav ul{
        width: 1100px;
        max-height: 62px; 
        margin-left: auto;
        margin-right: auto;  
    }
    nav li{
        max-width: 100px;
    }  
    section{
        margin-left: auto; 
        margin-right: auto;   
        margin-top: 40px; 
        background-color:#e4a660;
        width: 900px;
        max-height: 100px; 
        color: white;
        box-shadow: 4px 4px 5px black;
        border-radius: 5px;  
    }
    section p{
        text-align: justify;
        font-size: 12px;
        padding: 20px 20px 20px 20px; 
        width: 893px;
        height: 100px;
    }
    .imgtra,.imgter, .imgb{
        display: none;
    }
}
@media screen and (max-width: 1200px) and (min-width: 360px){
    section{
        display: none;  
    }
    .ban{
        display: none;
    }
    .phone{
        display: none;
    }
    .banphone{
        display: block;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 5px;
    } 
    .menuphone{
        display: flex;
        justify-content: space-between;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 5px;
        max-width: 333px;
        max-height: 114px;
        margin-top: 40px;      
    }
    .menuphone img{ 
        border-radius: 5px;
        max-width: 166.5px;
        max-height: 114px; 
        box-shadow: 4px 4px 5px #e4a660;
    }  
    .imgtra,.imgter, .imgb{
        display: block;
        max-width: 333px;
        max-height: 114px;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 40px;  
        box-shadow: 4px 4px 5px #e4a660;  
    } 
    iframe{
        display: block;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 40px; 
        max-width: 333px;
        max-height: 114px;
        border-radius: 5px;  
    } 
}
@media screen and (min-width:1900px) {
    .banphone{
        display: none;
    }
    .menuphone{
        display: none;
    }
    header img{
        display: block;
        max-width: 1920px;
        max-height: 136px;
        margin-left: auto;
        margin-right: auto
    }
    .imgtra,.imgter, .imgb{
        display: none;  
    }
    section{
        background-color:#e4a660;
        max-width: 1075px;
        max-height: 150px; 
        margin-left: auto; 
        margin-right: auto;   
        margin-top: 40px; 
        color: white;
        box-shadow: 4px 4px 5px black;
        border-radius: 5px;
    }
    section p{
        text-align: justify;
        padding: 20px 20px 20px 20px; 
        width: 1073px;
        height: 150px;
    }
}
nav{
    padding-top: 20px;   
} 
nav ul{
    max-width: 1209px;
    max-height: 62px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    background-color: #007f71;
    box-shadow: 4px 4px 5px #e4a660;
    border-radius: 5px;
} 
nav li{
    margin-left: 67px;
    margin-right: auto;
    text-shadow: 1px 1px 1px #de1f9b;
} 
nav a{
    color: white;
    text-decoration: none; 
} 
nav a:hover{
    color: white;
    background-color: #e4a660;
    border-radius: 4px;
}  
div img{
    border-radius: 5px;
}
iframe{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;
    border-radius: 5px; 
    box-shadow: 4px 4px 5px white; 
} 
/*video youtube responsive*//*
.video-responsive{ 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
}  
.video-responsive iframe{
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
}*/