* {
    margin: 0; /*marge à 0*/
    padding: 0; 
    box-sizing: border-box;  /*cadre enfant dans le parent */
    text-decoration: none;  /*enlève la deco des textes, soulignement etc*/
}
body {    
    background-image: url("images/fond.jpg");/*image de fond*/
    background-repeat:no-repeat; /* empêche l'image de fond de se répéter dans la page*/
    background-position: top center; /*la position de l'image de fond*/  
}
    .banphone{
        display: none;/*bannière téléphone off*/
    }
    .menuphone{
        display: none;/*menu téléphone off*/
    }
    header img{ /*image dans le header: bannière*/
        display: block;
        max-width: 1920px;
        max-height: 136px;
        margin-left: auto;
        margin-right: auto
    }
    .intro p{/*paragraphe intro*/
        padding: 5px;
        text-align: justify;
    }
.phone{/*barre de navigation*/
    padding-top: 20px;   
} 
.phone ul{/*effet dans la barre de navigation*/
    max-width: 1209px;
    max-height: 62px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    display: flex;
    background-color: #007f71;
    box-shadow: 4px 4px 5px #e4a660;
    border-radius: 5px;
} 
.phone li{/*effet du contenu de la barre de navigation*/
    margin-left: 67px;
    margin-right: auto;
    text-shadow: 1px 1px 1px #de1f9b;
} 
.phone a{/*couleur police barre navigation*/
    color: white; 
} 
.phone a:hover{/*effet au passage de la souris sur le texte barre de navigation*/
    color: white;
    background-color: #e4a660;
    border-radius: 4px;
}  
.intro{/*effet de l'introduction*/
    background-color:#e4a660;
    max-width: 1058px;
    max-height: 135px; 
    margin-left: auto; 
    margin-right: auto;   
    margin-top: 40px; 
    color: white;
    box-shadow: 4px 4px 5px black;
    border-radius: 5px;
}
.imgtra,.imgter, .imgb{/*effet des images*/
    max-width: 333px;
    max-height: 114px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;  
    box-shadow: 4px 4px 5px #e4a660;
}
div img{
    border-radius: 5px;
}
#time{/*effet pour l'heure*/
    position: fixed;
    z-index: 3;
    background-color: #e4a660; 
    border-radius: 5px;
    padding: 2px;
    right: 50px;
    bottom: 55px;
    color: white;
    font-size: 1.6em;          
}
.w3c{/*logo certifié w3c*/
    position: fixed;
    z-index: 3;
    left: 55px;
    bottom: 55px;
    width:88px;
    height:31px
} 
@media screen and (max-width: 1900px) and (min-width: 1200px){
    header img{
        display: block;
        width: 1200px;
        height: 84px;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 5px;
    }
    nav ul{
        width: 1100px;
        max-height: 62px; 
        margin-left: auto;
        margin-right: auto;  
    }
    nav li{
        max-width: 100px;    
    }  
    .intro{
        width: 900px;
        max-height: 135px;   
    }
    .menuphone, .menuphone1{
        display: none;
    }  
}
@media screen and (max-width: 1200px){
    .intro{
        width: 350px;
        max-height: 135px;   
    }
    .ban{
        display: none;
    }
    .phone{
        display: none;
    }
    .banphone{
        display: block;
        margin-left: auto; 
        margin-right: auto;
        border-radius: 5px;
    }
    .menuphone{
        margin-left: auto; 
        margin-right: auto;
        border-radius: 5px;
        max-width: 333px;
        max-height: 114px;
        margin-top: 40px;  
    }
    .menuphone img{ 
        border-radius: 5px;
        max-width: 166.5px;
        max-height: 114px; 
        box-shadow: 4px 4px 5px #e4a660;
    } 
    .intro p{
        font-size: 12px;
    } 
    
}
@media screen and (max-width: 800px){
    #time{
        display: none;
    }
    .w3c{
        display: none;
    }
}